@import "_grid.scss";
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway:800');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

@for $i from 1 through 6 {
  .section#{$i} {
    height: 80vh;
    //border: 1px solid red;
    background: white;

  }
}


body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  width: 100%;

}

span {
  font-size: 16px;
}

a {
  color: rgba(9, 158, 215, 0.8);
}
a:active {
  color: rgba(9, 158, 215, 0.8);
}
//sekcja1

.navIcon {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding-top: 10px;
}

//animacja hamburgera


.hamburger1, .hamburger2, .hamburger3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .hamburger1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .hamburger2 {opacity: 0;}

.change .hamburger3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.menuMobile {
  width: 250px;
  height:330px;
  background-color: rgba(211, 211, 211, 0.7);
  position:absolute;
  top: 60px;
  right: 0px;
  margin-right: -300px;
  transition: all 1s;

}

.menuMobile li {
  color: rgb(24, 74, 189);
  font-size: 1.5em;
  margin-left: 5px;
  margin-bottom: 30px;
  margin-top: 5px;
  list-style: none;
}
.menuMobileShow {
  width: 250px;
  height:330px;
  background-color: rgba(211, 211, 211, 0.7);
  position:absolute;
  top: 60px;
  right: 0px;
  margin-right: 0;
  transition: all 1s;

}


.section1 {
  height: 400px;
  position: relative;
  transition: all 1s;
  overflow: hidden;

}

//efektparalax dla tła nagłowka (section1)
.parallax {
  /* The image used */
  background-image: url("../images/background.jpg");

  /* Full height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background: rgba(209, 209, 209, 0.7);
  height: 60px;
}

.nav {
  //border: 1px solid red;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: lighter;
  color: rgba(9, 158, 215, 1);
  font-size: 0.9em;
  margin-left: 10px;

}
.menu {
  opacity: 1;
  color: rgba(9, 158, 215, 1);
  font-size: 0.8em;
  display: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: rgba(9, 158, 215, 0.8);
}

.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 20px;
}

.menu li:hover {
  text-decoration: underline;

}

.fullMenu {
  display: none;
}

//karuzela

.slider {
  width: 300px;
  height: 300px;
  position:relative;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.sliderHiden {
  display: none;
}

.slide {
  font-family: 'Fredericka the Great', cursive;
  color: rgba(5, 61, 199, 0.7);
  font-size: 35px;
  font-weight: 500;
  list-style: none;
  opacity: 0;
  z-index: 1;
  position:absolute;
    top: 20px;
    left: 20px;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;

}

#erka {
  font-size: 5px;
  margin: 0;
}

.showing {
  opacity: 1;
  z-index: 2;
}
//sekcja main

.main {
  display: flex;
  justify-content: center;
  background: rgb(249, 249, 249);
  font-size: 14px;
  color: gray;
}

h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  margin-left: 10px;
  transition: all 0.4s;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

span {
  padding: 20px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.blueLine{
  background: rgba(9, 158, 215, 0.8);
  width: 150px;
  height: 3px;
  margin-bottom: 15px;
  margin-left: 10px;
  -webkit-transition: 0.4s; /* Safari */
  transition: all 0.4s;
}

.sectionX {
  width: 95%;
  height: auto;
  justify-content: center;
  margin: 10px;
  box-shadow: 6px 6px 8px 0 gray, 0 8px 25px 0 gray;
  overflow: hidden;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sectionX:hover {
  box-shadow: 10px 10px 12px 0 gray, 0 12px 30px 0 gray;
}

.sectionX:hover .blueLine {
  margin-left:30px;
}
.sectionX:hover h2 {
  margin-left: 30px;
}

//footer
.section5 {
  height: 100px;
  background: black;
}

.footer {
  //background: rgb(9, 73, 121);
  height: 100%;
  display: flex;
  justify-content: space-around;

}

.footerContent {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adress {
  color: rgba(9, 158, 215, 1);

}

#map {
  width: 100%;
  height: 70vh;
  box-shadow: 6px 6px 8px 0 gray, 0 8px 25px 0 gray;
  margin-bottom: 20px;
  //margin: 20px;
  //margin-left: 100px;

}

//style dla pojedynczej strony


.singlePage {
  background-color: rgb(249, 249, 249);
  padding: 0;
}

.singlePageContainer {
  width: 90%;
  margin: 0 auto;


}

.singlePage h2 {
  margin-top: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 2em;

}
.singlePage .blueLine {
  margin: 0 auto;
  width: 300px;
  margin-bottom: 50px;

}


.adressData {
  padding: 10px;
  margin: 0 auto;
}



.front {
  background-color: #e5e5e5;
}


//glupi reset stylowania boxa
.att {
  //border: 1px solid red;
  margin: 0 auto;
  width: 100%;
}

.att:hover .blueLine {
  margin-left: 290px;


}

.att:hover h2 {
  margin-left: 10px;
}

#erka {
  font-size: 170px;
  margin: 0;
  padding: 15px;
  padding-top: 30px;
}

.blueLineOther {
  margin: 0 auto;
  background: rgba(9, 158, 215, 0.8);
  width: 300px;
  height: 3px;
  margin-bottom: 15px;
  margin-left: 10px;
  -webkit-transition: 0.4s; /* Safari */
  transition: all 0.4s;}


//*********************MEDIA*******************





@media only screen and (min-width: 768px) {

  //style dla mapy google
  #map {
    width: 100%;
    height: 450px;
    //margin: 20px;
    //margin-left: 100px;
    box-shadow: 6px 6px 8px 0 gray, 0 8px 25px 0 gray;
  }

    .menu {
    display: inline-block;
  }
  .navIcon {
    display: none;
  }

  .slider {
    margin-left: 30px;
    width: 400px;
    height: 300px;
  }
  .slide {
    font-size: 60px;
    padding-top: 30px;
    margin-left: 30px;
  }

  span {
    font-size: 16px;
  }

  .section2, .section3, .section4 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .fullMenu {
    position: absolute;
    top:60px;
    right: 160px;
    background-color: rgba(209, 209, 209, 0.7);
    width: 150px;
    height: 160px;
    display: inline-block;
    opacity: 0;
    cursor:pointer;
    transition: all 0.5s;

  }

  .fullMenuShow {
    opacity: 1;
  }
  ul {
    margin: 0;
    padding: 0;

  }
  .fullMenu li{
    color: rgba(9, 158, 215, 1);
    list-style: none;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
    margin: 0;
  }
  .fullMenu li:hover {
    background-color: rgba(59, 220, 239, 0.6);
  }
  .about {
    cursor: pointer;
  }

  .sectionX {
    width: 70%;

  }

  .singlePage {
    background-color: rgb(249, 249, 249);
    padding: 10px;
  }

}


