/*
 Theme Name:   Mesmerize Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Mesmerize Child Theme
 Author:       Pawel Struminski
 Author URI:   http://example.com
 Template:     mesmerize
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  mesmerize-child
*/

.coloured-nav ul.dropdown-menu > li,
.fixto-fixed ul.dropdown-menu > li {
    color: rgb(20, 64, 88);
}

.dark-logo #main_menu > li.logo > a.text-logo, .dark-logo #main_menu > li.logo > a.text-logo:visited, .dark-logo #main_menu > li.logo > a.text-logo:hover,
.dark-logo a.text-logo,
.dark-logo a.text-logo:visited,
.dark-logo a.text-logo:hover,
.coloured-nav #main_menu > li.logo > a.text-logo,
.coloured-nav #main_menu > li.logo > a.text-logo:visited,
.coloured-nav #main_menu > li.logo > a.text-logo:hover,
.coloured-nav a.text-logo,
.coloured-nav a.text-logo:visited,
.coloured-nav a.text-logo:hover,
.fixto-fixed #main_menu > li.logo > a.text-logo,
.fixto-fixed #main_menu > li.logo > a.text-logo:visited,
.fixto-fixed #main_menu > li.logo > a.text-logo:hover,
.fixto-fixed a.text-logo,
.fixto-fixed a.text-logo:visited,
.fixto-fixed a.text-logo:hover {
    text-decoration: none;
    color: rgb(20, 64, 88);
}

i.fa.icon.reverse.color1 {
    background-color: rgb(20, 64, 88);
}

.gridContainer .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    justify-content: flex-start !important;
}

.post-31 div {
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
}

@media only screen and (max-width: 768px) {
    .post-31 div {
        grid-template-columns: 1fr;
    }
}

.post-31 div p {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-left: -100px;
}

@media only screen and (max-width: 768px) {
    .post-31 div p {
        margin: 0 auto;
    }
}

.page-contact-form {
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .page-contact-form {
        width: 90%;
        margin: 0 auto;
    }
}

.page-form-title {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.footer-contact-boxes .footer-bg-accent {
    background-color: rgb(20, 64, 88);
}

.button.color1 {
    background-color: rgb(20, 64, 88);
    border-color: rgb(20, 64, 88);
}

.button.color1:hover {
    background-color: rgb(31, 141, 161);
    border-color: rgb(31, 141, 161);
}

.contact-form-wrapper input[type="submit"] {
    background-color: rgb(20, 64, 88);
    border-color: rgb(20, 64, 88);
}

.contact-form-wrapper input[type="submit"]:hover {
    background-color: rgb(31, 141, 161);
    border-color: rgb(31, 141, 161);
}

#map {
    width: 100%;
    height: 400px;
}

.contact-box{
    display: flex;
    background-color: #F5FAFD;
}

@media only screen and (max-width: 768px) {
    .contact-box {
        display: inline-block;
    }
}

.contact-data {
    width: 50%;
    padding: 100px;
    background-color: #F5FAFD;

}

.form {
    width: 50%;
    padding: 100px;
    background-color: #F5FAFD;
}

@media only screen and (max-width: 768px) {
    .contact-data{
        width: 100%;
        padding: 10%;
    }
    .form {
        width: 100%;
        padding: 10%;
    }
}

.wpcf7-form label {
     text-transform: uppercase;
}

.wpcf7-form input[type="text"] {
    border: 1px solid rgb(20, 64, 88);
}

.wpcf7-form input[type="email"] {
    border: 1px solid rgb(20, 64, 88);
}

.wpcf7-form textarea {
    border: 1px solid rgb(20, 64, 88);
}

.wpcf7-form input[type="submit"] {
     background-color: rgb(20, 64, 88);
     border-color: rgb(20, 64, 88);
     width: 100px;
     color: white;
     text-transform: uppercase;
}

.wpcf7-form input[type="submit"]:hover {
    background-color: rgb(31, 141, 161);
    border-color: rgb(31, 141, 161);
}

.wpforms-form button[type="submit"].wpforms-submit.color1 {
    background-color: rgb(20, 64, 88);
    border-bottom-color: rgb(20, 64, 88);
}

.wpforms-form button[type="submit"].wpforms-submit.color1:hover {
    background-color: rgb(31, 141, 161);
    border-bottom-color: rgb(31, 141, 161);
}

.post-title {
    margin-bottom: 20px;
}

i.fa.color1 {
    color: rgb(20, 64, 88);
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 20px
    }

    .about-1 {
        padding-top: 0;
    }
}

ul.dropdown-menu.active-line-bottom > .current_page_item > a, ul.dropdown-menu.active-line-bottom > .current-menu-item > a, ul.dropdown-menu.default > .current_page_item > a, ul.dropdown-menu.default > .current-menu-item > a {
    border-bottom: 3px solid rgb(31, 141, 161);
}

ul.dropdown-menu > li:hover > a, ul.dropdown-menu > li.hover > a {
    color: rgb(31, 141, 161);
}

.coloured-nav ul.dropdown-menu.active-line-bottom > li:not(.current-menu-item):not(.current_page_item):hover > a, .coloured-nav ul.dropdown-menu.active-line-bottom > li:not(.current-menu-item):not(.current_page_item).hover > a, .coloured-nav ul.dropdown-menu.default > li:not(.current-menu-item):not(.current_page_item):hover > a, .coloured-nav ul.dropdown-menu.default > li:not(.current-menu-item):not(.current_page_item).hover > a, .fixto-fixed ul.dropdown-menu.active-line-bottom > li:not(.current-menu-item):not(.current_page_item):hover > a, .fixto-fixed ul.dropdown-menu.active-line-bottom > li:not(.current-menu-item):not(.current_page_item).hover > a, .fixto-fixed ul.dropdown-menu.default > li:not(.current-menu-item):not(.current_page_item):hover > a, .fixto-fixed ul.dropdown-menu.default > li:not(.current-menu-item):not(.current_page_item).hover > a {
    color: rgb(31, 141, 161);
}